<div class="container">
    <h1>Joshua Fyne</h1>

    <div>
        <section class="contact">
            <h2>Contact</h2>
            <address>
                <div>
                    <p><i class="material-icons">email</i> <a href="mailto:josh.fyne@gmail.com" target="_blank">josh.fyne@gmail.com</a></p>
                    <p><i class="material-icons">smartphone</i> <a href="tel:+16465048454">+1 646 504 8454</a></p>
                    <p><i class="material-icons">web</i> <a href="http://fyne.industries" target="_blank">fyne.industries</a></p>
                </div>
                <div>
                    #19D 100 Willoughby Street<br>
                    Brooklyn<br>
                    NY 11201<br>
                    USA
                </div>
            </address>
        </section>

        <section class="work-experience">
            <h2>Work Experience</h2>
            <article>
                <header>
                    <h3>Senior Engineer</h3>
                    <p>Essence Digital, New York</p>
                </header>
                <main>
                    <p><time datetime="2013-02-01">Feb 2013</time> - present</p>
                    <p>Primarily my role is developing a large, complex application
                    to support the agency’s campaign planning and management.
                    This is being built using the latest web technologies
                    and development practices. As a secondary role I support
                    another complex media visualisation tool built for Google.
                    </p>
                </main>
            </article>
            <article>
                <header>
                    <h3>Engineer</h3>
                    <p>Essence Digital, London</p>
                </header>
                <main>
                    <p><time datetime="2011-10-01">Oct 2011</time> - <time datetime="2013-02-01">Feb 2013</time></p>
                    <p>Developing for a wide range of clients. These ranged from
                    high load sites such as Tesco Mobile and Pret mobile, Facebook
                    applications for eBay, Ancestry and Pret a Manger and
                    internal work for the agency
                    </p>
                </main>
            </article>
            <article>
                <header>
                    <h3>Freelance Engineer</h3>
                    <p>Punktilio, London</p>
                </header>
                <main>
                    <p><time datetime="2011-05-01">May 2011</time> - <time datetime="2011-10-01">Oct 2011</time></p>
                    <p>Architecting the hosting solution provided by Punktilio to its
                    clients. Developing Facebook applications.
                    </p>
                </main>
            </article>
            <article>
                <header>
                    <h3>Intern Analyst & Engineer</h3>
                    <p>Dstl, Portsmouth</p>
                </header>
                <main>
                    <p><time datetime="2005-09-01">Sep 2005</time> - <time datetime="2010-10-01">Oct 2010</time></p>
                    <p>Simulating air dropped weapons in order to better predict
                    collateral damage to buildings and people.
                    </p>
                </main>
            </article>
        </section>

        <section class="university">
            <h2>University</h2>
            <article>
                <header>
                    <h3>Thesis</h3>
                </header>
                <main>
                    <p>Investigating the Performance of Concurrent Heterogeneous OpenCL Device Execution</p>
                    <p>I investigated if it was possible to increase the performance
                    of large weather simulations on supercomputers by using
                    a combination of GPGPUs and CPUs concurrently. This
                    involved a lot of performance optimisation and technical
                    problem solving.</p>
                </main>
            </article>
            <article>
                <header>
                    <h3>Modules studied</h3>
                </header>
                <main>
                    <p>High Performance Computing, Information Security, Learning
                    in Autonomous Systems, Animation Production, Advanced
                    Computer Graphics, Algorithmic & Economic Aspects of the
                    Internet, Image Processing & Computer Vision, Computational
                    Neuroscience, Systems Integration, Machine Learning,
                    Character & Set Design, Web Technologies, Human Computer
                    Interaction, Language Engineering</p>
                </main>
            </article>
        </section>

        <section class="education">
            <h2>Education</h2>
            <article>
                <h3>Master of Engineering</h3>
                <p>Computer Science</p>
                <strong>University of Bristol</strong>
                <time datetime="2007">2007</time> - <time datetime="2011">2011</time>
            </article>
            <article>
                <h3>A2 Levels</h3>
                <p>Maths</p>
                <p>Economics</p>
                <p>Electronics</p>
                <p>Idustrial Design</p>
                <strong>Abingdon Boys School</strong>
            </article>
        </section>

        <section class="achievements">
            <h2>Achievements</h2>
            <article>
                <time datetime="2011">2011</time>
                <p>Shortlisted for the University of Bristol new enterprise competition</p>
            </article>
            <article>
                <time datetime="2010">2010</time>
                <p>IPL: University of Bristol third year best group game project prize</p>
            </article>
            <article>
                <time datetime="2009">2009</time>
                <p>Winner, Hack bristol - Bluetooth tracking</p>
            </article>
            <article>
                <time datetime="2007">2007</time>
                <p>7” single, Vader Fader by The Walk Off</p>
            </article>
            <article>
                <time datetime="2006">2006</time>
                <p>Dstl university sponsorship</p>
            </article>
            <article>
                <time datetime="2003">2003</time>
                <p>Rowed for Great Britain</p>
            </article>
            <article>
                <time datetime="2000">2000</time>
                <p>Scholarship to Abingdon Boys School</p>
            </article>
        </section>

        <section class="technologies">
            <h2>Technologies</h2>
            <p>I consider myself a full stack engineer, I have had experience using many different technologies in production systems.</p>
            <div class="sbs">
                <article>
                    <h3>Day to day</h3>
                    <ul>
                        <li>Go</li>
                        <li>Typescript / Javascript</li>
                        <li>Angular</li>
                        <li>CSS</li>
                        <li>Postgresql</li>
                        <li>Python 2/3</li>
                        <li>Docker</li>
                        <li>Linux</li>
                    </ul>
                </article>
                <article>
                    <h3>Have used before / Interest</h3>
                    <ul>
                        <li>PHP</li>
                        <li>C / C++</li>
                        <li>Java</li>
                        <li>Scala</li>
                        <li>Elixir</li>
                    </ul>
                </article>
            </div>
        </section>
    </div>
</div>
